*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
   height: 50;
   width: 100px;
}
.logo{
    background-image: url("Amazon_logo.png");
    background-size:cover;
    height: 50px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* Box2 */
.icon{
    display: flex;
    align-items: center;
}
#address1{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
#address2{
    font-size: 1rem;
    margin: 3px;
}

/* Box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(222, 29, 29);
    width: 650px;
    height: 40px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 60px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    border: none;
}
.search-select:hover{
    background-color: rgb(208, 205, 205);
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
#search-icon{
    width:50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #0F1111;
}
#search-icon:hover{
    background-color: #f2a757;
}

/* Box4 */
.nav-country{
    display: flex;
    justify-content: space-evenly;
    width: 55px;
    height: 55px;
}
.country{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 45px;
}
.search-country{
    border: none;
    background-color: #0F1111;
    color: white;
    font-weight: bold;
}
#expand{
    border: none;
    background-color: #0F1111;
    color: rgb(174, 172, 172);
}